extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

// append StylesheetBlock

// append JavascriptBlock

block ContentBlock
  ul
    each post in archive
      li
        a(href='/'+post.slug+'.html')= post.title