doctype html
html
  head
    meta(charset="utf-8")
    title mocha test
    link(rel="stylesheet", href=http_path + "css/mocha.css")

  body
    #mocha
    script(src=http_path+"js/hinagataGulpTest.js")